a:active {
	color: #000000;
	text-decoration: none;
}

a:link { color: #000000; }

a:visited { color: #000000; }

a:hover {
	color: darkred;
	text-decoration: none;
}

.admin-tab-active {
	background-color: #ffffff;
	border-bottom: 0px none #D5D291;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-top: 1px solid #D5D291;
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 3px;
	text-align: center;
}

.admin-tab-inactive {
	background-color: #EDECD1;
	border-bottom: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-top: 1px solid #D5D291;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 3px;
	text-align: center;
}

.admin-tab-right { border-bottom: 1px solid #D5D291; }

.admin-tan-border {
	background-color: White;
	border-bottom: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-top: 1px solid #ffffff;
}

.admin-tab-inactive a:link {
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.admin-tab-inactive a:visited {
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.admin-tab-inactive a:active {
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.admin-tab-inactive a:hover {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

BODY {
	background-color: #edecd1;
	margin: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
}

.grid-header a:active {
	color: #696969;
	text-decoration: none;
}

.grid-header a:link {
	color: #696969;
	text-decoration: none;
}

.grid-header a:visited {
	color: #696969;
	text-decoration: none;
}

.grid-header a:hover {
	color: darkred;
	text-decoration: none;
}

.grid-edit-column {
	border-bottom: #696969 1px solid;
	border-left: #696969 1px solid;
	border-top: #696969 1px solid;
}

.grid-first-item {
	border-bottom: #696969 1px solid;
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	margin: 1px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
}

.grid-item {
	border-bottom: #696969 1px solid;
	border-left: #696969 1px double;
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	margin: 1px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
}

.grid-header {
	border-bottom: #696969 1px solid;
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.grid-last-item {
	border-bottom: #696969 1px solid;
	border-left: #696969 1px solid;
	border-top: #696969 1px solid;
	margin: 1px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
}

.header-gray {
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

.header-lightgray {
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.report-main-header {
	background-color: #DCDCDC;
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 18px;
	padding-right: 18px;
}

.report-header {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-left: 18px;
	padding-right: 18px;
}

.report-text {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-left: 18px;
	padding-right: 18px;
}

.report-header a:link {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.report-header a:hover {
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.report-header a:visited {
	color: Black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.report-header a:active {
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.standard-text {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.tab-active {
	background-color: #EDECD1;
	border-bottom: 0px none #EDECD1;
	border-left: 1px solid #EDECD1;
	border-right: 1px solid #EDECD1;
	border-top: 0px none #EDECD1;
	color: #990000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 3px;
	text-align: center;
}

.tab-inactive {
	background-color: #797979;
	border-bottom: 0px none #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-top: 1px solid #000000;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-left: 18px;
	padding-right: 18px;
	padding-top: 3px;
	text-align: center;
}

.tan-border {
	background-color: White;
	border-bottom: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-top: 1px solid #D5D291;
}

.tab-inactive a:link {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.tab-inactive a:visited {
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.tab-inactive a:active {
	color: #FFC453;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

.tab-inactive a:hover {
	color: #FFC453;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
}

td {
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
}